.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 229, 229);
  z-index: 2;
}

.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin: 0px 20px 0px 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(246, 246, 246);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
  width: 24px;
}

.youtube-apps-icon {
  height: 24px;
  width: 24px;
}

.notifications-icon {
  height: 24px;
  width: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  background-color: rgb(200, 0, 0);
  color: white;
  top: 0px;
  right: -2px;
  font-size: 9px;
  padding: 2px 5px 2px 5px;
  border-radius: 50%;
}

.current-user-picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 20px;
}