* {
  font-family: Roboto, Arial;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.thumbnail-1 {
  width: 100%;
  border-radius: 10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: rgba(0, 0, 0, 0.609);
  color: white;
  position: absolute;
  padding: 1px 3px 1px 3px;
  bottom: 8px;
  right: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px 2px 4px;
}